<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="First_EFM_ADO.Properties.Settings.bibliothequeConnectionString"
            connectionString="Data Source=DESKTOP-7TC9CTO\SQLEXPRESS;Initial Catalog=bibliotheque;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>